body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Creepster', cursive;
  margin: 0;
  padding: 0;
  color: white;
}

.red {
  color: #c21717;
}

.navbar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar img {
  width: 40px;
  height: 40px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.bio-box {
  background: white;
  color: black;
  border: 5px solid #c21717;
  border-radius: 15px;
  width: 60%;
  height: 330px;
  padding: 30px;
  font-size: 1em;
  overflow-y: auto;
  box-shadow: 0 0 20px #c21717;
  font-weight: bold;
}

.dev-section {
  width: 35%;
  text-align: center;
}

.dev-section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.dev-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.dev-box {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid white;
  padding: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 0.9em;
}
